.form{
    display: flex;
    flex-direction: row;
}
.form-group{
    margin: 25px 20px;
    label{
        margin: 0 6px;
    }
}
.btn{
    height: 2rem;
    margin-top: 1.1rem;
    background-color: rgb(172, 211, 255);
    border: 1px solid rgb(172, 211, 255);
    border-radius: 16px;
    color: black;
    &:disabled{
        background-color: lightgray;
        border: 1px solid lightgray;
    }
}